$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px, 
    "xl": 1200px,
    "xxl":1480px
);

$container-max-widths: (
    "sm": 450px,
    "md": 720px,
    "lg": 860px,
    "xl": 1040px,
    "xxl":1260px
);

$container-margins: (
    "sm": 10px,
    "md": 20px,
    "lg": 30px,
    "xl": 40px
);

$container-padding: (
    "sm": 10px,
    "md": 25px,
    "lg": 40px,
    "xl": 60px
);

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
}

@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}

