@use 'sass:math';

@mixin btn($bg-color: #e2e2e2) {
    position: relative;
    background-color: $bg-color;
    color: white;
    border-radius: math.div($base-border-radius, 5) ;
    transition: all 100ms ease-out 0s;
    font-size: $base-font-size + 0.1rem;
    text-transform: uppercase;
    box-sizing: content-box;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    min-width: 152px;
    height: 3rem;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    outline: none;
    text-decoration: none;
    flex-shrink: 0;
    border: 0;
    margin: 10px;
    padding: 0.75rem 1rem;
}

//generic button, default
.btn {
    @include btn;
}
@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);
        &:hover {
            background-color: darken($val, 20);
            transition: all 1s;
        }
    }
    .btn-outlined-#{$key} {
        @include btn(#fff);
        border: $base-border-thickness * 1 solid $val;
        color: darken($val, 20);

        &:hover {
            background-color: darken($val, 11);
            color: lighten($val, 51);            
            transition: all 1s ease-in-out;

        }
    }
    .btn-complement-#{$key} {
        @include btn($val);
        color: light-comp($val);
        &:hover {
            background-color: light-comp($val);
            color: $val;

        }
    }
}

@mixin small-btn($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 6px 18px;
    margin: 6px 0;
    border-radius: math.div($base-border-radius, 5) ;
    background-color: $bg-color;
    font-size: $base-font-size;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.small-btn {
    @include small-btn;
}
@each $key, $val in $colors {
    .small-btn-#{$key} {
        @include small-btn($val);
        &:hover {
            background-color: darken($val, 20);
            transition: all 1s;
        }
    }
    .small-btn-outlined-#{$key} {
        @include small-btn(#fff);
        border: $base-border-thickness * 2 solid $val;
        color: darken($val, 20);
        &:hover {
            background-color: darken($val, 11);
            color: lighten($val, 51);            
            transition: all 1s ease-in-out;

        }
    }
    .small-btn-complement-#{$key} {
        @include small-btn($val);
        color: light-comp($val);
        &:hover {
            background-color: light-comp($val);
            color: $val;

        }
    }
}