@use 'sass:math';
.card {
    position: relative;
    margin: 20px;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;

    .card-body {
        font-size: $base-font-size;
        // text-align: justify;
        width: 100%;

        a {
            text-decoration: underline;
        }
        .card-title {
            font-size: 2.2rem;
            margin-bottom: 1rem;
            padding-bottom: $base-padding - 0.25rem;
            font-weight: 900;
            text-align: left;
        }
    
        .card-info{
            display: flex;
            align-content: center;
            height: 115px;
            flex-wrap: wrap;
            line-height: 20px;            
            height: 70px;
        }
        .card-footer {
            height: 37px;
            width: 100%;
            border-radius: 0 0 0.6rem 0.6rem;

            .card-link {
                color: white;
                padding: 50px 8em;
            }
            a {
                text-decoration: none;
                bottom: -35px;
                position: relative;
            }
        }
        
    }
    .card-button{
        padding: 5px 10px 5px 10px;
        font-size: small;
        background: mediumblue;
        color: white;
        border-radius: 4px;
    }
}

.small-card {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    min-height: 85px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 15px;
    flex-direction: column;

    
    .small-card-body {
        font-size: $base-font-size;
        display: flex;
        flex-direction: column;
        width: 100%;

        a {
            text-decoration: underline;
        }
        .small-card-title {
            font-size: 2.2rem;
            margin-bottom: 1rem;
            padding-bottom: $base-padding - 0.25rem;
            font-weight: 900;
            text-align: left;
        }
    
        .small-card-info{
            display: flex;
            align-content: center;
            height: 115px;
            flex-wrap: wrap;
            line-height: 20px;            
            height: 40px;
            font-size: 1.5rem;
        }
        .small-card-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 80px;
            width: 100%;
            background: rgba(255, 0, 0, 0.53);
            text-align: center;
            border-radius: 0 0 0.6rem 0.6rem;

            .small-card-link {
                color: white;
                padding: 50px 8em;
            }
        }
        
    }
    .small-card-button{
        padding: 5px 10px 5px 10px;
        font-size: small;
        background: mediumblue;
        color: white;
        border-radius: 4px;
    }
}