// video-component.scss

// Import any variables or mixins you might use
// @import 'variables';

.video-container {
    width: 100%;
    margin: 0 auto;
    position: relative;

    video {
        width: 100%;
        display: block;
        
        }
}
