{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="column-container">
<h2>Admin Dashboard</h2>

<div id="lessonsButtons">
    <button class="lesson-filter-btn" data-lesson-id="all" >All</button>
    {% for lesson in lessons %}
        <button class="lesson-filter-btn" data-lesson-id="{{ lesson.id }}">{{ lesson.lesson_title }}</button>
    {% endfor %}
</div>
<div class="row">
    {% for flashcard in flashcards %}
        <div class="col-4-lg col-6-md col-12-sm col-12-xs flashcard"  data-lesson-id="{{ flashcard.lesson_id }}">
            <div class="small-card"><!--card-->
                <div class="small-card-body"><!--card body start-->
                    <div class="small-card-info">{{ flashcard.content }}</div>
                    <div class="small-card-info text-blue">{{ flashcard.translation }}</div>
                </div><!--card body end--> 
                <div>
                    <form action="{{ url_for('admin.edit_flashcard', flashcard_id=flashcard.flashcard_id) }}"method="GET" class="mt-0">
                        <input type="hidden" name="lesson_id" value="{{ flashcard.lesson_id }}">
                        <button type="submit" class="small-btn-green">Edit</button>
                    </form>
                    <form action="{{ url_for('admin.delete_flashcards', flashcard_id=flashcard.flashcard_id) }}" method="POST" class="mt-0">
                        <button type="submit" class="small-btn-red" onclick="return confirm('Are you sure you want to delete this flashcard?');">Delete</button>
                    </form>
                    
                </div>
            </div><!--card end-->
        </div>     
    {% endfor %}
</div>











<script>
    // Wait for the DOM to load
    document.addEventListener('DOMContentLoaded', (event) => {
        // Add click event to each filter button
        document.querySelectorAll('.lesson-filter-btn').forEach(button => {
            button.addEventListener('click', function() {
                // Get the lesson ID from the data attribute of the clicked button
                let lessonId = this.getAttribute('data-lesson-id');
                // Filter flashcards
                filterFlashcards(lessonId);

            });
        });
    });

    function filterFlashcards(lessonId) {
        // Get all flashcard elements
        let flashcards = document.querySelectorAll('.flashcard');
        
        // Loop through the flashcards and hide or show them based on the lesson ID
        flashcards.forEach(flashcard => {
            if(lessonId === 'all') {
                flashcard.style.display = ''; // Show the flashcard if it matches the filter
            }
            else if(lessonId === '' || flashcard.getAttribute('data-lesson-id') === lessonId) {
                flashcard.style.display = ''; // Show the flashcard if it matches the filter
            }
            else {
                flashcard.style.display = 'none'; // Hide the flashcard if it does not match the filter
            }
        });
    }
</script>

    

    
{% endblock %}
