{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="column-container">
<h2>Admin Dashboard</h2>
<div class="row">
    {% for lesson in lessons %}
        <div class="col-6-xl col-6-lg col-12-md col-12-sm col-12-xs">
            <div class="small-card"><!--card-->
                <div class="small-card-body"><!--card body start-->
                    <div class="small-card-info">Lesson ID:&nbsp;<strong>{{ lesson.id }}</strong></div>
                    <div class="small-card-title">{{ lesson.lesson_title }}</div>
                    <div class="small-card-info">{{ lesson.lesson_description }}</div>    
                </div><!--card body end-->
                <div class="display-f">
                    <form action="{{ url_for('admin.edit_lesson', lesson_id=lesson.id) }}" class="p-0" method="GET">
                        <button type="submit" class="small-btn-green">Edit</button>
                    </form>
                    <form action="{{ url_for('admin.delete_lesson', lesson_id=lesson.id) }}" method="POST" class="p-0">
                        <button type="submit" class="small-btn-red" onclick="return confirm('Are you sure you want to delete this lesson?');">Delete</button>
                    </form>
                </div>
            </div><!--card end-->
</div>     
    {% endfor %}
</div>

{% endblock %}
