<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Link to CSS file -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/css/index.css') }}">
        <title>{% block title %} {{ title }} {% endblock %}</title>
    </head>
    <body>
        <div class=" display-f">
            <aside class="sidebar">
                <div class="logo">
                    <a href="{{ url_for('main.index') }}">     
                        <p class="logo-text">SPEAK IT</p>
                        <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo-img" alt="">
                    </a>                
                </div>
                <nav class="sidebar-nav">
                    <div class="ml-2"><h5>Hello, {{session.get('username')}}</h5></div>
                    <ul>
                        <li class="{{ 'active' if request.endpoint == 'main.index' else '' }}"><a href="{{ url_for('main.index') }}">Homepage</a></li>
                        {% if session.get('user_authenticated') and  session.get('user_role') == 'ADMIN' %}
                            <li class="{{ 'active-user-link' if request.endpoint == 'admin.dashboard' else '' }}"><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
                            <li class="{{ 'active-user-link' if request.endpoint == 'admin.users' else '' }}"><a href="{{ url_for('admin.users')}}">Users</a></li>
                            <li class="{{ 'active-user-link' if request.endpoint == 'admin.lessons' else '' }}"><a href="{{ url_for('admin.lessons')}}">Lessons</a></li>

                        {% elif session.get('user_authenticated') and  session.get('user_role') == 'USER' %}
                            <li class="{{ 'active-user-link' if request.endpoint == 'user.dashboard' else '' }}"><a href="{{ url_for('user.dashboard') }}">Dashboard</a></li>
                            <li class="{{ 'active-user-link' if request.endpoint == 'user.user_content' else '' }}"><a href="{{ url_for('user.user_content')}}">My learning</a></li>
                            <li class="{{ 'active-user-link' if request.endpoint == 'lessons.index' else '' }}"><a href="{{ url_for('lessons.index')}}">Lessons</a></li>
                            <li class="{{ 'active-user-link' if request.endpoint == 'user.create_lesson' else '' }}"><a href="{{ url_for('user.create_lesson')}}">Create lesson</a></li>
                            <li class="{{ 'active-user-link' if request.endpoint == 'lessons.lessons_created' else '' }}"><a href="{{ url_for('lessons.lessons_created')}}">Created lessons</a></li>
                        {%endif%}
                        <li class="{{ 'active-user-link' if request.endpoint == 'auth.profile' else '' }}"><a href="{{ url_for('auth.profile') }}">Profile</a></li>
                        <li class="{{ 'active-user-link' if request.endpoint == 'auth.logout' else '' }}"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="mobile-nav" style="position: absolute;">
                <div class="menu-toggle" id="mobile-menu-toggle">
                    <li class="{{ 'active' if request.endpoint == 'main.index' else '' }}" style="list-style-type: none;">
                        <a href="{{ url_for('main.index') }}">
                            <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo-mobile" alt="">
                        </a>
                    </li>         
                    <div class="mobile-li user-msg-mobile">
                        <li  style="list-style-type: none;" class="{{ 'active-user-link' if request.endpoint == 'auth.profile' else '' }}">
                            <a class="login-btn" href="{{ url_for('auth.profile') }}">
                            <i class="fas fa-user-alt"></i>
                        </a>
                        </li>
                    </div>
                    {% if session.get('user_authenticated') %}
                    <div class="mobile-li">
                        <li class="get-started">
                            <a href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                    </div>
                    {% else %}
                    <div class="mobile-li">
                        <li class="login-btn">
                            <a href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                    </div>
                    <div class="mobile-li">
                        <li class="get-started {{ 'active-2' if request.endpoint == 'auth.register' else '' }}">
                            <a href="{{ url_for('auth.register') }}">Get Started</a>
                        </li>
                    </div>
                    {%endif%}
                </div>
            </div>
            <!--bottom navigation - user logged in-->
            <nav id="bottomNav" class="">
                <ul>
                    {% if session.get('user_authenticated') and  session.get('user_role') == 'ADMIN' %}
                        <li class="{{ 'active-user-link' if request.endpoint == 'admin.dashboard' else '' }}">
                            <a href="{{ url_for('admin.dashboard') }}">
                                <i class="fas fa-home  {{'text-white' if request.endpoint == 'admin.dashboard' else ''}}"></i>
                                <p class="mobile-link-display {{'text-white' if request.endpoint == 'admin.dashboard' else '' }}">Dashboard</p>
                            </a>
                        </li>
                        <li class="{{ 'active-user-link' if request.endpoint == 'admin.users' else '' }}">
                            <a href="{{ url_for('admin.users')}}">
                                <i class="fas fa-users {{'text-white' if request.endpoint == 'admin.users' else ''}}"></i>
                                <p class="mobile-link-display {{'text-white' if request.endpoint == 'admin.users' else '' }}">Users</p>
                            </a>
                        </li>
                        <li class="{{ 'active-user-link' if request.endpoint == 'admin.lessons' else '' }}">
                            <a href="{{ url_for('admin.lessons')}}">
                                <i class="fas fa-book-open {{'text-white' if request.endpoint == 'admin.lessons' else ''}}"></i>
                                <p class="mobile-link-display {{'text-white' if request.endpoint == 'admin.lessons' else '' }}">Lessons</p>
                            </a>
                        </li>
                    {% elif session.get('user_authenticated') and  session.get('user_role') == 'USER' %}
                        <li class="{{ 'active-user-link' if request.endpoint == 'user.dashboard' else '' }}">
                            <a href="{{ url_for('user.dashboard') }}"><i class="fas fa-home {{ 'text-white' if request.endpoint == 'user.dashboard' else '' }}"></i>
                            <p class="mobile-link-display {{ 'text-white' if request.endpoint == 'user.dashboard' else '' }}">Dashboard</p>
                            </a>
                        </li>
                        <li class="{{ 'active-user-link' if request.endpoint == 'user.user_content' else '' }}">
                            <a href="{{ url_for('user.user_content')}}">
                                <i class="fas fa-user-graduate {{ 'text-white' if request.endpoint == 'user.user_content' else '' }}"></i>
                                <p class="mobile-link-display {{ 'text-white' if request.endpoint == 'user.user_content' else '' }}">My learning</p>                    
                            </a>
                        </li>
                        <li class="{{ 'active-user-link' if request.endpoint == 'lessons.index' else '' }}">
                            <a href="{{ url_for('lessons.index')}}">
                                <i class="fas fa-book-open {{'text-white' if request.endpoint == 'lessons.index' else ''}}">
                                </i>
                                <p class="mobile-link-display {{'text-white' if request.endpoint == 'lessons.index' else '' }}">Lessons</p>
                            </a>
                        </li>
                        <li class="{{'active-user-link' if request.endpoint == 'user.create_lesson' else '' }}"><a href="{{ url_for('user.create_lesson')}}">
                            <i class="fas fa-folder-plus {{'text-white' if request.endpoint == 'user.create_lesson' else '' }}"></i>
                            <p class="mobile-link-display {{'text-white' if request.endpoint == 'user.create_lesson' else '' }}">Create lesson</p>
                            </a>
                        </li>
                        <li class="{{ 'active-user-link' if request.endpoint == 'lessons.lessons_created' else '' }}">
                            <a href="{{ url_for('lessons.lessons_created')}}">
                                <i class="fas fa-book {{'text-white' if request.endpoint == 'lessons.lessons_created' else '' }}"></i>
                                <p class="mobile-link-display {{'text-white' if request.endpoint == 'lessons.lessons_created' else '' }}">Created lessons</p>
                            </a>
                        </li>
                    {%endif%}
                </ul>
            </nav>
            {% block content %}
            {% endblock %}
            <button id="go-top-btn" title="Go to top"><span style="font-family: monospace; font-size: 25px; font-weight: bold;" >↑</span></button>
    </div>
        <script src="{{ url_for('static', filename='javascript/flash_msg.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/go_top_btn.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/bottom_nav.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/mobile_menu.js') }}"></script>
    </body>
</html>
