{% extends 'main-base.html' %}

{% block content %}
<div style="padding-top: 65px;"></div>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="m-auto form-container">
                <div style="width:100%;">
                    <h1 class="text-center pb-2">Login</h1>
                </div>
                <div class="msg">
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                <form action="{{ url_for('auth.login')}}" method="POST">
                    <label for="username">Username</label>
                        <input type="text" placeholder="Enter username" name='username' id="username" required><br>
                    <label for="password">Password</label>
                        <input type="password" placeholder="Enter password" name='password' id="password" required class="mb-0"><br>
                        <div class="show_pass_wrapper">   
                            <input type="checkbox"  id="see_password" class="custom-toggle"> Show Password
                            <label for="see_password" class="toggle-label"></label>
                        </div>
                    <button type="submit" class="btn-orange p-0 mt-2 m-0 pt-1 pb-1 text-white">Login</button> 
                    <div class="pt-2">
                        <span class="pt-1">Do not have an account yet?</span>&nbsp;
                        <a href="{{ url_for('auth.register') }}" class="link">Create an account!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='javascript/show_password.js') }}"></script>
{% endblock %}

